<header>
    <div class="logo-image-container">
        <img class="logo-image" src="">
    </div>
    <div>
        <nav class="nav-menu">
            <a href="#">ADD RECIPIE</a>
            <a>OTHER</a>
        </nav>
    </div>
</header>