<div class="content-container">
    <div class="background-container">
        <ul class="display-items">
            {{#each dish}}
            <li><a href=""><img class="background-imgs" src="{{imageURL}}"></a></li>
            {{/each}}
        </ul>

    </div>
    <div class="fixed-view">
        <div class="form-container"> 
            <form action="POST">
                <label for="time">TIME</label><br>
                <input type="text" id="time" value=""><br><br>
                <input type="submit" value="Submit">
            </form>
        </div>
    </div>
</div>