<div class="content-container">
    <div class="background-container">
        <ul class="display-items">
            <li><img src="../public/images/burger.jpg"></li>
            <li><img src="../public/images/Chicken-Parmesan.jpg"></li>
            <li><img src="../public/images/Salad.jpg"></li>
            <li><img src="../public/images/spag-bol.jpg"></li>
            <li><img src="../public/images/veg-curry.jpg"></li>
        </ul>
    </div>
</div>