<div class="content-container">
    <div class="background-container">
        <ul class="display-items">
            <li><img src="/images/burger.jpg">csdc</li>
            <li><img src="../public/images/Chicken-Parmesan.jpg">csdc</li>
            <li><img src="../public/images/Salad.jpg">cds</li>
            <li><img src="../public/images/spag-bol.jpg">cds</li>
            <li><img src="../public/images/veg-curry.jpg">cd</li>
        </ul>
    </div>
    <div class="form-container"> 
        <form action="POST">
            <label for="time">TIME</label><br>
            <input type="text" id="time" value=""><br><br>
            <input type="submit" value="Submit">
        </form>
    </div>
    
</div>: