body {
    background-color: #151515;
    color: antiquewhite;
    margin: 0px;
}

header {
    width: 100vw;
    position: absolute;
    z-index: 99;
    border-bottom: 1px solid white;
    display: flex;
}

.form-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.nav-container {
    justify-content: end;
}

.logo-image-container {
    display: flex;
    justify-self: start;
}

.background-container {
    margin: 30%;
}

footer {
    height: 50px;
    position: absolute;
    border-top: 1px solid white;
    z-index: 99;
    width: 100vw;
    margin: 0px
}

.nav-menu {
    display: flex;
    justify-self: end;
    text-align: right;
}

.display-items {
    list-style-type: none;
    display: flex;
}

.display-items, img {
    width: 30%;
}

.display-items> li {
    justify-self: start;
}

.display-items> li:nth-child(odd) {
    justify-self: end;
}