body {
    background-color: #151515;
    color: antiquewhite;
    margin: 0px;
    font-family: 'Roboto Mono', monospace;
}

header {
    width: 100vw;
    height: 6rem;
    position: fixed;
    top: 0px;
    z-index: 99;
    border-bottom: 1px solid white;
    display: grid;
}

.background-imgs {
    width: 30vw;
    margin: 30px
}

.nav-container {
    height: 3rem;
    display: absolute;
    right: 0px;
    top: 0px
}

h1 {
    max-width: 50%;
    position: absolute;
    left: 0;
    padding: 1rem;
    font-weight: 600;
    color: red;
}

.logo-image-container {
    display: flex;
    justify-self: start;
}

.content-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.background-container {
    margin-top: 100px;
    overflow: scroll;
    overscroll-behavior-y: contain;
    scroll-snap-type: y proximity;
    width: 100%;
}

.display-items {
    width: 100%;
    list-style-type: none;
}

.display-items> li {
    margin-right: 50vw;
    justify-self: start;
}

.display-items> li:nth-child(odd) {
    justify-self: end;
    margin-left: 60vw;
}


.nav-menu {
    margin: 0px;

    justify-self: end;
    text-align: right;
    padding: 2rem;
    
    font-family: 'Roboto Mono', monospace;
    font-size: 2rem;
    position: absolute;
    right: 0;
}

.nav-link {
    color: antiquewhite;
    text-decoration: none;
}

.form-label {
    font-size: 3rem;
}

.form, input {
    background-color: #151515; 
    color: antiquewhite;
    text-align: center;
}

.form {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -65px;
    margin-left: -75px;
}

#submit {
    color: red;
}

