body {
    background-color: #151515;
    color: antiquewhite;
    margin: 0px;
    font-family: 'Roboto Mono', monospace;
}

h1{
    font-family: 'Creepster', Arial, Helvetica, sans-serif;
    font-size: 8vh;
}

header {
    width: 100vw;
    height: 6rem;
    position: absolute;
    top: 0px;
    z-index: 99;
    border-bottom: 1px solid white;
    display: grid;
}

.inner {
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.mainContainer{
    display: flex;
    flex-wrap: wrap;
}

.nav-container {
    height: 3rem;
    display: absolute;
    right: 0px;
    top: 0px
}

.logo-image-container {
    display: flex;
    justify-self: start;
}

.background-container {
    margin-top: 100px;
    overflow: scroll;
    overscroll-behavior-y: contain;
    scroll-snap-type: y proximity;
    width: 100%;
}

.display-items {
    width: 100%;
    list-style-type: none;
}

.display-items> li {
    margin-right: 50vw;
    justify-self: start;
}

.display-items> li:nth-child(odd) {
    justify-self: end;
    margin-left: 60vw;
}

.nav-menu {
    margin: 0px;
    grid-row: 0 1;
    grid-column: 1 2;
    justify-self: end;
    text-align: right;
    padding: 3rem;
    
    font-family: 'Roboto Mono', monospace;
    font-size: 2rem;
    
}

.nav-link {
    color: antiquewhite;
    text-decoration: none;
}


.display-items {
    list-style-type: none;
    display: flex;
}
/* 
.form-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
} */

.form-label {
    font-size: 3rem;
}

.form, input {
    background-color: #151515; 
    color: antiquewhite;
    text-align: center;
}

.form {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -65px;
    margin-left: -75px;
}

.display-items> li:nth-child(odd) {
    justify-self: end;
}